node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
/.vs/mf.owncircles.com/config
/.vs/mf.owncircles.com/CopilotIndices/17.14.1530.14912
/.vs/mf.owncircles.com/FileContentIndex
*.wsuo
/.vs/mf.owncircles.com/v17/DocumentLayout.json
/.vs
